# Node
node_modules/
dist/
.tmp/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backend
backend/target/
backend/.mvn/
*.class
*.jar
*.war
*.ear

# Local Config
backend/src/main/resources/application-local.properties
frontend/src/environments/environment.local.ts