# Default ignored files
/shelf/
/workspace.xml

# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
 c445c153b51bc89eefcc4d3663388928581e8a80
